<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Frissítő Pont Masszázsszalon - Regisztráció</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/user.css" rel="stylesheet" type="text/css">
       
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script>
            function create_user(){
                var username=document.getElementById("username");
                var email=document.getElementById("email");
                var password1=document.getElementById("password1");
                var password2=document.getElementById("password2");
                var name1=document.getElementById("name1");
                var name2=document.getElementById("name2");
                var phone=document.getElementById("phone");
                
                var data={"task":"create user", "email":email.value,"password":password1.value,"firstname":name1.value,"lastname":name2.value,"phone":phone.value, "username":username.value};
               console.log(data);
                $.ajax({
                    url:"../../controller/UserController.php",
                    type:"POST",
                    data:data,
                    success:function(rd){
                      // var x=rd; //---RD=visszajött érték, x.... ami user service-ben van, kis/nagybetű érzékeny
                    console.log(rd);               
                    },
                    error:function(){
                        console.log("error");
                    }
                });
    }    
        </script>
        
    </head>
    <body onload="userlisting()">
       
         <div id="container">
            <div id="login">
            <h1>Regisztráció</h1>
            
                    <p>
                            <label for="username">Felhasználónév:</label>
                            <input type="text" id="username"/>
                    </p>
                    <p>
                            <label for="name1">Vezetéknév:</label>
                            <input type="text" id="name1"/>
                    </p>                    
                    <p>
                            <label for="name2">Utónév:</label>
                            <input type="text" id="name2"/>
                    </p>                    
                    <p>
                            <label for="email">E-mail cím:</label>
                            <input type="text" id="email"/>
                    </p>
                    <p>
                            <label for="phone">Telefonszám:</label>
                            <input type="text" id="phone"/>
                    </p>
                    <p>
                            <label for="password">Jelszó:</label>
                            <input type="password" id="password1"/>
                    </p>
                    <p>
                            <label for="password">Jelszó ismét:</label>
                            <input type="password" id="password2"/>
                    </p>
                   
                            <button id="button" onclick="create_user()"> Regisztráció </button>
                
            
            </div>
            
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
</html>
