<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Frissítő Pont Masszázsszalon</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/user.css" rel="stylesheet" type="text/css">
       
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script>
            function create_contact(){
                var text=document.getElementById("text");
                
                var data={"task":"create contact", "text":text.value};
               console.log(data);
                $.ajax({
                    url:"../controller/ContactController.php",
                    type:"POST",
                    data:data,
                    success:function(rd){
                      // var x=rd; //---RD=visszajött érték, x.... ami service-ben van, kis/nagybetű érzékeny
                    console.log(rd);               
                    },
                    error:function(){
                        console.log("error");
                    }
                });
    }    
        </script>
        
    </head>
    <body onload="userlisting()">
       
         <div id="container">
            <div id="contact">
            <h1>Elérhetőségek megadása</h1>
            
                    <p>
                         <input type="text" id="address" placeholder="cím"/>
                    </p>
                    <p>
                         <input type="text" id="phone" placeholder="telefonszám"/>
                    </p>                    
                    <p>
                         <input type="text" id="facebook" placeholder="facebook oldal"/>
                    </p>                
            
              
                   
                            <button id="button" onclick="create_contact()"> Felvitel </button>
                
            
            </div>
            
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
</html>
