<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Frissítő Pont Masszázsszalon</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/user.css" rel="stylesheet" type="text/css">
       
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script>
            function create_mailbox(){
                var text=document.getElementById("text");
                
                var data={"task":"create mailbox", "text":text.value};
               console.log(data);
                $.ajax({
                    url:"../controller/MailBoxController.php",
                    type:"POST",
                    data:data,
                    success:function(rd){
                      // var x=rd; //---RD=visszajött érték, x.... ami service-ben van, kis/nagybetű érzékeny
                    console.log(rd);               
                    },
                    error:function(){
                        console.log("error");
                    }
                });
    }    
        </script>
        
    </head>
    <body onload="mailboxlisting()">
       
         <div id="container">
            <div id="mailbox">
            <h1>E-mail küldése</h1>
                                
                    <p>
                           <input type="text" id="name" placeholder="Neved"/>
                    </p>
                    <p>
                           <input type="text" id="email" placeholder="E-mail címed"/>
                    </p>                    
                    <p>
                           <input type="text" id="subject" placeholder="E-mail tárgya"/>
                    </p>                    
                    <p>
                           <textarea id="text" placeholder="Üzenet szövege" style="resize:none;" rows="5" cols="40"></textarea>
                    </p>
              
                   
                           <button id="button" onclick="create_mailbox()"> Küldés </button>
                
            
            </div>
            
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
</html>
