<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Frissítő Pont Masszázsszalon</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/user.css" rel="stylesheet" type="text/css">
       
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script>
            function create_opinion(){
                var text=document.getElementById("text");
                if(text.value.length<1)
                {alert('Írj véleményt, hogy el tudjuk küldeni');
                   return 0;
                }
                
                var data={"task":"create opinion", "text":text.value};
               console.log(data);
                $.ajax({
                    url:"../controller/OpinionController.php",
                    type:"POST",
                    data:data,
                    success:function(rd){
                        alert("Köszönjük, véleményét rögzítettük....");
                        text.value=""; //kiüríti a szöveg mezőt
                      // var x=rd; //---RD=visszajött érték, x.... ami service-ben van, kis/nagybetű érzékeny
                    console.log(rd);               
                    },
                    error:function(){
                        console.log("error");
                    }
                });
    }    
    function listing(){
                var table=document.getElementById("table");
                                
                var data={"task":"listing", "page":1};
               console.log(data);
                $.ajax({
                    url:"../controller/OpinionController.php",
                    type:"POST",
                    data:data,
                    success:function(rd){
                    for (var i=0; i<rd.length; i++){
                        var sor=table.insertRow(i);var cella=sor.insertCell(0);cella.innerHTML=rd[i].text; var cella2=sor.insertCell(1);cella2.innerHTML=rd[i].rating;
                    }    
                    },
                    error:function(){
                        console.log("error");
                    }
                });
    }    
        </script>
        
    </head>
    <body onload="listing()">
       
         <div id="container">
            <div id="opinion">
            <h1>Véleményírás</h1>
            
                    <p>
                            <textarea id="text" placeholder="Írj véleményt!" style="resize:none;" rows="5" cols="40"></textarea>
                    </p>
              
                   
                            <button id="button" onclick="create_opinion()"> Küldés </button>
                
            
            </div>
             <table id="table">
                 
             </table>    
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
</html>
